<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.geomats">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BaseDiagAltR"></activity>
        <activity android:name=".BaseArAltezR" />
        <activity android:name=".BasePerAltR" />
        <activity android:name=".BaseRActivity" />
        <activity android:name=".AreaRActivity" />
        <activity android:name=".PerimetroRActivity" />
        <activity android:name=".RettangoloActivity" />
        <activity android:name=".DiametroAreaC" />
        <activity android:name=".DiametroPerimetroC" />
        <activity android:name=".DiametroRaggioC" />
        <activity android:name=".DiametroCActivity" />
        <activity android:name=".RaggioAreaC" />
        <activity android:name=".RaggioPerimetroC" />
        <activity android:name=".RaggioDiametroC" />
        <activity android:name=".RaggioCActivity" />
        <activity android:name=".AreaDiametroC" />
        <activity android:name=".AreaRaggioC" />
        <activity android:name=".AreaCActivity" />
        <activity android:name=".PerimetroDiametroC" />
        <activity android:name=".PerimetroRaggioC" />
        <activity android:name=".PerimetroCActivity" />
        <activity android:name=".DiagonaleAreaQ" />
        <activity android:name=".DiagonaleLatoQ" />
        <activity android:name=".DiagonaleQActivity" />
        <activity android:name=".AreaDiagonaleQ" />
        <activity android:name=".AreaLatoQ" />
        <activity android:name=".AreaQActivity" />
        <activity android:name=".LatoDiagonaleQ" />
        <activity android:name=".LatoAreaQ" />
        <activity android:name=".LatoPerimetroQ" />
        <activity android:name=".LatoQActivity" />
        <activity android:name=".PerimetroQActivity" />
        <activity android:name=".CerchioActivity" />
        <activity android:name=".QuadratoActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>