<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.geomats">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LatoRaggioCirCircTE"></activity>
        <activity android:name=".LatoApotemaTE" />
        <activity android:name=".LatoAltezzaTE" />
        <activity android:name=".LatoPerimetroTE" />
        <activity android:name=".LatoTeActivity" />
        <activity android:name=".ApotemaAltezzaTE" />
        <activity android:name=".ApotemaLatoTE" />
        <activity android:name=".ApotemaTEActivity" />
        <activity android:name=".AreaRagCicCircTE" />
        <activity android:name=".AreaApotemaTe" />
        <activity android:name=".AreaAltezzaTE" />
        <activity android:name=".AreaLatoTE" />
        <activity android:name=".AltezzaLatoAreaTE" />
        <activity android:name=".AreaTriangoloEqActivity" />
        <activity android:name=".PerimetroRaggioTE" />
        <activity android:name=".PerimetroApotemaTE" />
        <activity android:name=".PerimetroAltezzaTE" />
        <activity android:name=".PerimetroLatoTE" />
        <activity android:name=".PerimetroTEActivity" />
        <activity android:name=".TriangoloEquilateroActivity" />
        <activity android:name=".AngoloEsternoCT" />
        <activity android:name=".AngoloEsternoBT" />
        <activity android:name=".AngoloEsternoAT" />
        <activity android:name=".AngoloEsternoActivityT" />
        <activity android:name=".MedianaCActivityT" />
        <activity android:name=".MedianaBActivityT" />
        <activity android:name=".MedianaAActivityT" />
        <activity android:name=".MedianaActivityT" />
        <activity android:name=".BisettriceCActivityT" />
        <activity android:name=".BisettriceBActivityT" />
        <activity android:name=".BisettriceAActivityT" />
        <activity android:name=".BisettriceActivityT" />
        <activity android:name=".RaggioCirExinscT" />
        <activity android:name=".RaggioCirCircosT" />
        <activity android:name=".RaggioCirInscActivityT" />
        <activity android:name=".AltezzaCSemPT" />
        <activity android:name=".AltezzaBSemPT" />
        <activity android:name=".AltezzaASemPT" />
        <activity android:name=".AltezzaLatiSemipTB" />
        <activity android:name=".AltezzaCActivityT" />
        <activity android:name=".AltezzaBActivityT" />
        <activity android:name=".AltezzaAActivityT" />
        <activity android:name=".AltezzaAreaLatoT" />
        <activity android:name=".AltezzaTActivity" />
        <activity android:name=".AreaLatiPerimetroT" />
        <activity android:name=".AreaABAltezzaCT" />
        <activity android:name=".AreaACAltezzaBT" />
        <activity android:name=".AreaBCAltezzaT" />
        <activity android:name=".AreaTActivity" />
        <activity android:name=".PerimetroTActivity" />
        <activity android:name=".TriangoloActivity" />
        <activity android:name=".DiagonaleRActivity" />
        <activity android:name=".AltezzaDiagBaseR" />
        <activity android:name=".AltezzaAreaBaseR" />
        <activity android:name=".AltezzaPerBaseR" />
        <activity android:name=".AltezzaRActivity" />
        <activity android:name=".BaseDiagAltR" />
        <activity android:name=".BaseArAltezR" />
        <activity android:name=".BasePerAltR" />
        <activity android:name=".BaseRActivity" />
        <activity android:name=".AreaRActivity" />
        <activity android:name=".PerimetroRActivity" />
        <activity android:name=".RettangoloActivity" />
        <activity android:name=".DiametroAreaC" />
        <activity android:name=".DiametroPerimetroC" />
        <activity android:name=".DiametroRaggioC" />
        <activity android:name=".DiametroCActivity" />
        <activity android:name=".RaggioAreaC" />
        <activity android:name=".RaggioPerimetroC" />
        <activity android:name=".RaggioDiametroC" />
        <activity android:name=".RaggioCActivity" />
        <activity android:name=".AreaDiametroC" />
        <activity android:name=".AreaRaggioC" />
        <activity android:name=".AreaCActivity" />
        <activity android:name=".PerimetroDiametroC" />
        <activity android:name=".PerimetroRaggioC" />
        <activity android:name=".PerimetroCActivity" />
        <activity android:name=".DiagonaleAreaQ" />
        <activity android:name=".DiagonaleLatoQ" />
        <activity android:name=".DiagonaleQActivity" />
        <activity android:name=".AreaDiagonaleQ" />
        <activity android:name=".AreaLatoQ" />
        <activity android:name=".AreaQActivity" />
        <activity android:name=".LatoDiagonaleQ" />
        <activity android:name=".LatoAreaQ" />
        <activity android:name=".LatoPerimetroQ" />
        <activity android:name=".LatoQActivity" />
        <activity android:name=".PerimetroQActivity" />
        <activity android:name=".CerchioActivity" />
        <activity android:name=".QuadratoActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>